.el-menu-vertical .el-sub-menu__icon-arrow {
  color: #42916E !important;
  font-weight: bold;
  font-size: 15px;
  transform: scale(1.3);
}


.el-menu.el-menu--vertical.mobi-category-menu {
  border: none !important;
}


.el-menu.el-menu--inline {
  border-block: 1px solid #fff;
}

.mobi-category-menu .el-menu-item {
  margin: 5px;
} 

/* .el-sub-menu__title {
  margin-bottom: 20px;
} */

.el-sub-menu__title:hover {
  background: none;
}

.el-menu-item {
  padding: 1px 15px !important;
}